extends layout

block content
  h2.center Join Members!
  form(action="", method="POST") 
    label(for="secret") <b>(Password c*ts)</b>
    input(type="text" name='secret' required)
    button Submit